.rfw-loading-label {
	display: inline-flex;
	align-items: center;
	gap: wpVariables.$grid-unit-10;
	height: wpVariables.$button-size;
	color: var(--wp-admin-theme-color);

	.woocommerce-spinner {
		width: wpVariables.$icon-size;
		height: wpVariables.$icon-size;
		min-width: wpVariables.$icon-size;

		&__circle {
			stroke: currentcolor;
			stroke-width: wpVariables.$grid-unit;
		}
	}
}
