.rfw-faqs-panel {
	.components-panel__row {
		display: block;

		p {
			margin: 0;
		}
	}

	.components-panel__body-title {
		.components-panel__body-toggle.components-button {
			padding-top: wpVariables.$grid-unit-05 * 5;
			padding-bottom: wpVariables.$grid-unit-05 * 5;
		}
	}
}
