/*! Add other colors or adjustments we want below */
$rfw-color-green: #008a20;
$rfw-color-red: #d94f4f;
$rfw-color-green-0: #edfaef;
$rfw-color-green-70: #005c12;
$rfw-color-yellow-0: #fcf9e8;
$rfw-color-yellow-70: #614200;
$rfw-color-red-0: #fcf0f1;
$rfw-color-red-70: #8a2424;
$rfw-color-gray-0: #f6f7f7;
$rfw-color-blue-0: #f0f6fc;
$rfw-color-blue-70: #0a4b78;
