.rfw-skip-paid-ads-survey-modal__survey {
	.rfw-skip-paid-ads-survey-modal__survey-title {
		font-size: 16px;
		font-weight: 600;
	}

	.rfw-skip-paid-ads-survey-modal__text-input {
		margin-left: wpVariables.$grid-unit-30;
	}
}
