.rfw-subsection-title {
	position: relative;
	font-size: variables.$rfw-font-small;
	font-style: normal;
	font-weight: 600;
	line-height: variables.$rfw-line-height-medium;
	letter-spacing: 0;
	text-align: left;
	margin-bottom: wpVariables.$grid-unit;
}
