.rfw-product-catalog {
	.rfw-product-catalog__help {
		padding-block: 0 var(--large-gap);
		padding-inline: var(--large-gap);

		p {
			color: wpColors.$gray-700;
			font-size: variables.$rfw-font-smaller;
			margin: 0;
		}
	}
}
