.rfw-paid-ads-claim-credit-notice {
	display: flex;
	margin-top: 40px;
	padding: 12px 16px;
	flex-flow: row nowrap;
	gap: 12px;
	color: #1E1E1E;
	background-color: #EDFAEF;

	a {
		color: inherit;
	}
}
