.rfw-reddit-ads-catalog-setup-card {
	.components-card__body {
		display: flex;
		gap: wpVariables.$grid-unit-20;

		p {
			margin: 0;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: wpVariables.$grid-unit-20;
		color: #000;

		&__helper {
			font-style: italic;
			color: wpColors.$gray-700;
		}
	}
}
